<div class="jumbotron">
  <h3 class="page-header">Importante</h3>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Este sistema no es una herramienta oficial de la Universidad Pedagogica Nacional Francisco Morazan.</p>
      <p>Su unico proposito es facilitar a los coordinadores de carrera el proceso de planear la carga academica del siguiente periodo.</p>
      <p>El sistema <strong>NO</strong> utiliza ningun recurso privado de la UPNFM como ser base de datos de estudiantes, numeros de cuenta, informacion de docentes o ninguna otra.</p>
      <p>El listado de clases por carrera debe ser ingresado por el coordinador de dicha carrera.</p>

      <p>Dicho lo anterior, usese este sistema bajo sus propias consideraciones, desligando al creador de cualquier compromiso por la mala utilizacion del mismo.</p>
      <br>
      <p><a class="btn btn-primary btn-lg" role="button" href="<%= dashboard_new_student_proposal_path %>">Mi carga academica</a></p>
    </div>
  </div>
</div>