<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box ui-draggable ui-droppable">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar"></i>
          <span>Mis clases para el siguiente periodo.</span>
        </div>
      </div>
      <div class="box-content">
        <h4 class="page-header">Seleccione una clase</h4>
        <div class="row form-group">
          <div class="col-sm-12">
            <select class="form-control">
              <option>Matematicas Discretas</option>
              <option>Calculo 3</option>
              <option></option>
              <option>FirefoxOS</option>
              <option>MeeGo</option>
            </select>
          </div>
        </div>
        <h4 class="page-header">Seleccione la hora en que desea recibir la clase</h4>
        <div class="row form-group">
          <div class="col-sm-12">
            <select class="form-control">
              <option>07:00 - 08:00 AM</option>
              <option>Sailfish OS</option>
              <option>CyanogenMod</option>
              <option>FirefoxOS</option>
              <option>MeeGo</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Registrar clase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box ui-draggable ui-droppable">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-calendar"></i>
          <span>Mi carga academica para el siguiente periodo.</span>
        </div>
      </div>
      <div class="box-content">
        <p>Estas son las clases que haz seleccionado hasta el momento.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Clase</th>
              <th>Hora</th>
              <th width="20"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>MAT11 - Teoria de Numeros</td>
              <td>08:00 AM - 09:00 AM</td>
              <td><a class="delete"><i class="fa fa-times"></i></a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>PED02 - Pedagogia 2</td>
              <td>08:00 PM - 09:00 PM</td>
              <td><a class="delete"><i class="fa fa-times"></i></a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>MAT55 - Calculo 3</td>
              <td>10:00 AM - 11:00 AM</td>
              <td><a class="delete"><i class="fa fa-times"></i></a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>MAT56 - Ecuaciones Diferenciales</td>
              <td>01:00 PM - 02:00 PM</td>
              <td><a class="delete"><i class="fa fa-times"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>